.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 35px;
  justify-content: center;
}

.itens-container {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  padding: 0 46px 0 21px;
  width: 100%;
  max-width: 851px;
  text-align: center;
}

.title {
  font-size: 50px;
  color: #c9d1d9;
  font-weight: 500;
}
